<a href="https://colab.research.google.com/github/kahoitoh/kahoitoh.github.io/blob/master/day1_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python for Data Science - Day 1

Welcome to the course. These notebooks will guide through the two days of the course.
They are designed for you to repreduce and play, so feel free to modify the content.

In particular, the course is split into "theory" and "lab" sessions.
- The theory sessions are in the morning and show hands-on how the main concept works
- The lab session are afternoon exercises designed to understand and try the concepts learn in the morning.

The schedule for the first day is the following

 | Time | Topic |
 --- | --- |
9.00-9.30	| Part 1: Basic introduction to python, variables and operations |
9.30 - 10.00| Tutorial: Part 1, help with packages and configurations  |
10.00-10.30	| Part 2: Control statements |
10.30-11.00	| Tutorial: Part 2, control statements |
11.00-12.00	| Part 3: Collections |
12.00-13.00	| Lunch break |
13.00-14.00	| Tutorial: Part 3 |
14.00-14.15	| Part 4: Functions, error handling |
14.15-15.00	| Tutorial: Part 4 |

In the first day we see the basics of Python language. In particular, we will look into the main concepts and how to run code.
Please create an account in Google to access colab or, if you want, use Jupyter notebook in your laptop.

**Acknowledgments**

The material in this day is adapted from Chapter 2 and Chapter 3 in the book
> [Python for Data Analysis, 3rd Edition](https://wesmckinney.com/book/) by Wes McKinney, published by O'Reilly Media.

The original jupyter notebooks can be found at the [book's Github repository](https://github.com/wesm/pydata-book/tree/3rd-edition).

## Python basics

### Variables

Let us just play a bit with python. _What does the code below do?_

In [ ]:
# This is a comment, it is not executed

Note the Python shows the result of the execution of the last line.

In [ ]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

Another way to see the result or the value contained in a variable is to use the function ```print```

In [ ]:
print(data)

[-0.2736866540806868, -0.9404030214951349, -0.13670384976619748, 1.7784145131826548, 0.04848643151220999, 1.519182091557888, -1.230281087939594]

In python, variables that are not int, float, strings, are assigned by _reference_, this means that the `=` does not copy the variable, but creates an alias for the same object.

In [ ]:
a = [1, 2, 3] # This is a list

In [ ]:
b = a # New variable b gets referenced to a
b

[1, 2, 3]

In [ ]:
a.append(4)
b # b is also modified as it refers to the same object a

[1, 2, 3, 4]

If a variable is modified in a function, the value changes as well. We will see what a function is soon!

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In order to know the type of a variable, use the function ```type```. What is the result of the expression below?

In [ ]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

Is the expression below correct?

In [ ]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

```isinstance``` can tell you whether a variable has a specific type.

In [ ]:
a = 5
isinstance(a, int)

True

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [ ]:
a = "foo"

Try pressing the <tab> key after writing ```a.<tab>```, now you can appreciate the "magic".
The functions associated to the string a are all visiable. This is defined by someone else (in the standard library) and they can be used to manipulate strings.

In [ ]:
getattr(a, "split")

### Operators and comparisons

Let us now play a bit with some useful operation. These basic functions allow to perform transformations on numbers, strings, and any object in python.

In [ ]:
5 - 7

-2

In [ ]:
12 + 21.5

33.5

In [ ]:
5 <= 2

False

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
a is b

True

In [ ]:
a is not c

True

Checking whether two variables are the same

In [ ]:
a == c

True

Checking whether a variable is None

In [ ]:
a = None
a is None

True

In [ ]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [ ]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

1.5

In [ ]:
3 // 2

1

A summary of the operations is explained in the table below.

| Operation       | Description                                                                                               |
| --------------- | --------------------------------------------------------------------------------------------------------- |
| `a + b`         | Add `a` and `b`                                                                                           |
| `a - b`         | Subtract `b` from `a`                                                                                     |
| `a * b`         | Multiply `a` by `b`                                                                                       |
| `a / b`         | Divide `a` by `b`                                                                                         |
| `a // b`        | Floor-divide `a` by `b`, dropping any fractional remainder                                                |
| `a ** b`        | Raise `a` to the `b` power                                                                                |
| `a & b`         | `True` if both `a` and `b` are `True`; for integers, take the bitwise `AND`                               |
| `a \| b`         | `True` if either `a` or `b` is `True`; for integers, take the bitwise `OR`                                |
| `a ^ b`         | For Booleans, `True` if `a` or `b` is `True`, but not both; for integers, take the bitwise `EXCLUSIVE-OR` |
| `a == b`        | `True` if `a` equals `b`                                                                                  |
| `a != b`        | `True` if `a` is not equal to `b`                                                                         |
| `a < b`, a <= b | `True` if `a` is less than (less than or equal to) `b`                                                    |
| `a > b, a >= b` | `True` if `a` is greater than (greater than or equal to) `b`                                              |
| `a is b`        | `True` if `a` and `b` reference the same Python object                                                    |
| `a is not b`    | `True` if `a` and `b` reference different Python objects                                                  |

### String manipulation

In [ ]:
c = """This is a longer string that
spans multiple lines
"""

In [ ]:
c.count("\n")

2

In [ ]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In the code above, the interpreter gave us an error. Why?

**String are immutable objects**, that means that their value cannot be changed.
The only way to modify a string is to create a new one by using the function ```replace```

In [ ]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [ ]:
a

'this is a string'

It is also possible to convert numbers to strings and viceversa. The operation that converts a type into another is called _casting_. To cast a variable use the functions ```str, int, float, ...``` on a variable.

In [ ]:
a = 5.6
s = str(a)
print(s)

5.6

In [ ]:
s = "python"
sl = list(s)
sl[:3]

['p', 'y', 't']

If you want to insert a "\\" in your string you need to write it twice.

In [ ]:
s = "12\\34"
print(s)

12\34

Or use ```r"your_string"```

In [ ]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [ ]:
# Easy way to concatenate strings, mind that you copy a and b into a new string!
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

**String formatting** is an important operation to insert computed values into your strings.

In [ ]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [ ]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

**Alternatively** we can use the the string formatting f"string"

In [ ]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

In [ ]:
# Operations are allowed in formatting, as well as specification of types
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

It is also possible to use special characters, such as the ø in Danish. However, when you do that remember to encode the string to avoid problems while using the text in another machine.

In [ ]:
val = "español"
val

'español'

In [ ]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [ ]:
val_utf8.decode("utf-8")

'español'

In [ ]:

val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

### Boolean operations

```True```and ```False``` are the only values a boolean variable can take. Boolean variables allow for operations, such as and and or.

In [ ]:
True and True
False or True

True

In [ ]:
int(False)
int(True)

1

In [ ]:
a = True
b = False
not a
not b

True

In [ ]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

```None``` is a keyword that indicates "no type". To check whether a variable has no type use
```python
var is None
```

In [ ]:

a = None
a is None
b = 5
b is not None

True

Another useful operation concerns the manipulation of dates and times.

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21) # use datetime to define a specific time
dt.day
dt.minute

30

In [ ]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [ ]:
dt.strftime("%Y-%m-%d %H:%M") # Format the time as you wish

'2011-10-29 20:30'

In [ ]:
datetime.strptime("20091031", "%Y%m%d") # Reformat exisitng time

datetime.datetime(2009, 10, 31, 0, 0)

In [ ]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [ ]:
dt # datetime is an object that contains information about years, months, ...

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [ ]:

dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [ ]:
# datetime allows operation, such as adding two days together
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control statements (if)

One of the most important feature of programming languages is control statements, that allow to execute a piece of code only under some specific conditions. In python, the main control statements are the if-statements. The syntax is the following
```python
if condition:
    code_if_condition_true
else:
    code_if_condition_false
```

Let's see some example.

In [ ]:
# Does the code below print or not?
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

Alternatively one can use ```elif``` to define further conditions.

In [ ]:
age = 27

if age < 10:
    print('Child')
elif age < 15:
    print('Teenager')
elif age < 30:
    print('Young adult')
elif age < 60:
    print('Adult')
else:
    print('Senior')

Young adult

Comparison (>,<, >=, <=), operators (and, or, not), and containment (in) operators allow for defining conditions in the if-statements.

In [ ]:
4 > 3 > 2 > 1

True

### Loops

Loops allow for iterating over numbers or set of objects. Python defines two different loops:
    - _for_ loops to iterate over objects
    - _while_ loops to iterate until a condition is True
    
#### For-loops

The syntax of a for-loop is the following.

```python
for variable in objects:
    do_something
```

Let us try generating all the pairs of numbers from 0 to 4.

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

The function ```range(10)``` returns an object that iterates over the numbers from 0 to 9.

In [ ]:
print(range(10))
print(list(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(0, 20, 2))) # Iterate in steps of 2
print(list(range(5, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]

Equivalently one could write a for-loop over a predefined list of numbers.

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

For and if can be, of course, combined together.

In [ ]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

### While-loops

A while-loop repeats a piece of code until the condition is True. The syntax is the following.

```python
while condition:
    do_something
```

In [ ]:
s = 'p'

while len(s) < 5:
    s += 'e'

print(s)

peeee

## Collections: Tuples, Lists, Sets, Dictionaries

We now look a bit more closely to four of the main collections in Python. A collectionis a "container" of data.

Depending on the application, you might find yourself choosing one or the other.

### Tuples

A tuple is an *immutable* object, in which each position corresponds to a specific item of any type. A tuple is the natural extension of a pair.
To declare a tuple, you can use the syntax ```(item1, item2, ..., itemN)```

In [ ]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [ ]:
tup = 4, 5, 6
tup

(4, 5, 6)

Using the function ```tuple``` it is possible to construct tuples from lists or strings.

In [ ]:
tuple([4, 0, 2])

(4, 0, 2)

In [ ]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

Elements in a tuple can be accessed using the square-brackets.

**Note:** The first element in the tuple is in position 0

In [ ]:
tup[0]

's'

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
print(nested_tup[1])

((4, 5, 6), (7, 8))
(4, 5, 6)
(7, 8)

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In the above code, why did you receive an error?

Why the code below is instead valid?

In [ ]:
tup[1].append(3)
tup

AttributeError: 'str' object has no attribute 'append'

You can concatenate tuples with the ```+``` operator.

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

If ```+``` concatenates tuple, what would ```*``` do?

_Hint_: think to the mathematical definition of ```*```

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Elements in a tuple can be "unrolled" and saved into different variables.

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2
print(f"a:{a}")
print(f"b:{b}")
b, a = a, b
print(f"a:{a}")
print(f"b:{b}")

a:1
b:2
a:2
b:1

This "unrolling" capability combined with a for loop, offers a very easy way to read the values of a list of tuples.

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

If you are not interested to save all the values of a tuple after a certain point, the variable ```*var_name``` is very useful.

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [ ]:
a, b, *_ = values
_

[3, 4, 5]

**Interesting function of the session** ... what does ```count``` do?

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### Lists

As opposed to tuples list are _mutable_ objects, i.e., the items inside a list can change over the time.
Converting a tuple to a list is, therefore, a way to ensure that we can update the tuple's elements.

In [ ]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)
b_list[1] = "peekaboo"
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

The ```range``` function we have already seen, iterates numbers in a certain range.

In [ ]:
gen = range(10)
print(gen) # Note that gen is not a list!
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Range is a useful function (we will see the equivalent in numpy), try to check the documentation with the syntax

```python
range?
```

In [ ]:
range?

#### Modifying and searching a list

We can add elements to a list, using the function ```append```.

In [ ]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

The ```.``` before ```append``` is a special character to call _methods_ (i.e., functions) of a specific _class_.  You can see all the methods using ```b_list.<tab>```

Other common operations for a list is insertion of an element at a specific position.

In [ ]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

... and deletion of an element at a specific position

In [ ]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

```remove``` removes an element from a list. However, **it needs to scan the entire list in order to find the element!**

In [ ]:
b_list.append("foo")
print(b_list)
b_list.remove("foo")
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

#### List operations

Checking if an element is in a list

In [ ]:
"dwarf" in b_list

True

In [ ]:
"dwarf" not in b_list

False

Concatenate two lists with +

In [ ]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

or use ```extend``` to concatenate

In [ ]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

Sorting a list

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing

Slicing is a powerful Python operation that allows to return a sub-list from a certain position to another using

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
# From position 1 included to position 5 excluded (recall that the positions start from 0)
seq[1:5]

[2, 3, 7, 5]

In [ ]:
seq[3:5] = [6, 3] # Modify a part of a list
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [ ]:
seq[:5] # From beginning to position 5

[7, 2, 3, 6, 3]

In [ ]:
seq[3:] # From position 3 until the end

[6, 3, 6, 0, 1]

Negative indexes in slicing indicate starting from the end of the list.

In [ ]:
seq[-4:]

[3, 6, 0, 1]

In [ ]:
seq[-6:-2]

[3, 6, 3, 6]

The ::x instead indicates to return the value in steps of x elements.

In [ ]:
seq[::2]

[7, 3, 3, 0]

What does the syntax below do?

In [ ]:
seq[::-1] # Negative step goes backward ;)

[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionaries

Dictionaries contain key,value pairs. That means that an object _value_ in a dictionary can be found with its key. Think of a dictionary like an easy way to find any object.
A dictionary is created and populated in this way.

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

Dictionaries are _mutable_ objects, in which the content can be changed.

In [ ]:
d1[7] = "an integer" #NOTE: this is not position 7 as in lists! 7 is a key for the string "an integer"
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
d1["b"] # This return the value with key "b"

[1, 2, 3, 4]

#### Dictionary operations
The ```in``` keyword is used for checking whether a dictionary contains a certain key

In [ ]:
"b" in d1

True

```del``` deletes a specific element, ```pop``` deletes the element and returns the value.

In [ ]:
d1[5] = "some value"
print(d1)
d1["dummy"] = "another value"
print(d1)
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

Accessing the list of keys and the list of values

In [ ]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

Accessing the pairs of items.

In [ ]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

Update the values of a dictionary

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

_What happens if you update a key that does not exist?_

#### Useful operations with dictionaries

In [ ]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
print(mapping)

<zip object at 0x7df3d43b6200>
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

```setdefault``` function allows to change the values of a key or create a new value if the key does not exists.

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Similarly, one can use the defaultdict from module collections

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

The _keys_ of a dictionary must be immutable objects!

For an immutable object it is possible to compute its hash value, that is a alphanumeric code that "uniquely" represent an object.

In [ ]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### Sets

Sets are _mutable_ objects that contain non-repeated objects.

In [ ]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [ ]:
{2, 2, 2, 1, 3, 3} # Alternative syntax

{1, 2, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

#### Set operations

Sets are useful to perform set operations, such as ```union```

In [ ]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

intersection

In [ ]:
a.intersection(b)
a & b

{3, 4, 5}

Combined union and update

In [ ]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [ ]:
my_data = [1, 1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 1, 2, 3, 4)}

_Why is the duplicate not removed?_

Containment operations

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set) # check subset

True

In [ ]:
a_set.issuperset({1, 2, 3}) # check superset

True

Summary of the main set functions

| Function                           | Alternative syntax | Description                                                                      |
| ---------------------------------- | ------------------ | -------------------------------------------------------------------------------- |
| `a.add(x)`                         | N/A                | Add element `x` to set `a`                                                       |
| `a.clear()`                        | N/A                | Reset set `a` to an empty state, discarding all of its elements                  |
| `a.remove(x)`                      | N/A                | Remove element `x` from set `a`                                                  |
| `a.pop()`                          | N/A                | Remove an arbitrary element from set `a`, raising `KeyError` if the set is empty |
| `a.union(b)`                       | `a \| b`            | All of the unique elements in `a` and `b`                                        |
| `a.update(b)`                      | `a \|= b`           | Set the contents of `a` to be the union of the elements in `a` and `b`           |
| `a.intersection(b)`                | `a & b`            | All of the elements in _both_ `a` and `b`                                        |
| `a.intersection_update(b)`         | `a &= b`           | Set the contents of `a` to be the intersection of the elements in `a` and `b`    |
| `a.difference(b)`                  | `a - b`            | The elements in `a` that are not in `b`                                          |
| `a.difference_update(b)`           | `a -= b`           | Set `a` to the elements in `a` that are not in `b`                               |
| `a.symmetric_difference(b)`        | `a ^ b`            | All of the elements in either `a` or `b` but _not both_                          |
| `a.symmetric_difference_update(b)` | `a ^= b`           | Set `a` to contain the elements in either `a` or `b` but _not both_              |
| `a.issubset(b)`                    | `<=`               | `True` if the elements of `a` are all contained in `b`                           |
| `a.issuperset(b)`                  | `>=`               | `True` if the elements of `b` are all contained in `a`                           |
| `a.isdisjoint(b)`                  | N/A                | `True` if `a` and `b` have no elements in common                                 |

Equality checks whether two sets contain the same elements

In [ ]:
{1, 2, 3} == {3, 2, 1}

True

### Useful functions on collections

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

```zip``` creates a list of pairs from a pairs of lists.

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

```enumerate``` function returns pairs of (position, item) of a collection

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Comprehensions

Comprehensions create collections from a for-loop in a very compact manner

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

```map``` applies a function to a collection

In [ ]:
set(map(len, strings)) # Note: len is a name of a function, as functions in python are objects

{1, 2, 3, 4, 6}

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

Collections can be "nested". For instance you can create a list of lists.

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

Of course, it is possible to provide a list comprehension for a list of lists.

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions and Error handling

Functions are the building blocks of a programming language. A function is a repeateable set of operations with an assigned name. To declare a function use the syntax

```python
def function_name(param1, param2, ...):
    code_of_the_function
    return result_of_the_function
```

In [ ]:
def my_function(x, y):
    return x + y

You can call a function by its name and pass the **right** number of parameters as input.

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

3

A function may or may not return some value

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

A function can return multiple values and have *optional* parameters with a default value.

```z``` is an optional parameter in the below function.

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
print(my_function2(5, 6, z=0.7))
print(my_function2(3.14, 7, 3.5))
print(my_function2(10, 20))

0.06363636363636363
35.49
45.0

#### Global variables

A function can modify the value of a variable defined outside of the body of the function.
In general, this practice is not recommended as it might generate errors, but it is useful in cases like program settings or variables that are shared among functions.

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
func()
print(a)
func()
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

A more explicit manner to access variables outside of the function and avoid mistakes is to use the keyword ```global```

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

Since functions are objects, they can become parameters of other functions.

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value) # In this case ops is a list of generic functions that are applied to a list of strings, a convenient trick ;-)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

Similarly the ```map``` function can apply a function to each item in a list

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

#### Lambda functions

Lambda functions are anonymous functions. They are suitable in all cases in which we do not need to specify the function name. The syntax is

```python
lambda param1, param2, .. : function_code
```

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:

strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

#### Iterators
Iterators are other special functions that compute the result **on collections** once at the time. An iterator, does not return a value immediately, but only if called in a for-loop.

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

If you print the value of an iterator you will not see the content.

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

unless you save the iterator in a collection

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
sum(gen) # It is possible to call functions on operators and retrieve the result

328350

In [ ]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Itertools is a module that contains a number of iterators.

In [ ]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Error handling

Sometimes a call to a function or operator raises an error

In [ ]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

To handle an error, we can use the syntax

```python
try:
    code_with_potential_error
except error_name_or_empty:
    code_if_error_occurs
```

In [ ]:

def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:

attempt_float("1.2345")
attempt_float("something")

'something'

In [ ]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

By using the keyword ```raise error_name``` we can include errors in our code.

In [ ]:
def check_receipt(amount):
    if amount < 0:
        raise ValueError('The amount cannot be negative')
    else:
        print(f"We received a receipt of {amount}DKK")

check_receipt(-5)

ValueError: The amount cannot be negative

In [ ]:
check_receipt(6)

We received a receipt of 6DKK